.navbar-container,
.body-container{
  @include container-fixed();
}
.body-container{
  margin-top: 50px;
}


.section-row {
  @include make-row();
}

.title-container,
.walks-container,
.history-container,
.purchase-container,
.footer-container,
.richland-container {
  @include make-md-column(10);
  @include make-md-column-offset(1);
}

.description-container {
  @include make-md-column(12);
}

.footer-small-container {
  @include make-md-column(6);
}

.section-divider {
  @include make-md-column(2);
  @include make-md-column-offset(5);
  @include make-sm-column(2);
  @include make-sm-column-offset(5);
  @include make-xs-column(2);
  @include make-xs-column-offset(5);
  height: 2px;
  background: $black;
  // margin: 5px 0;
}

.footer-divider {
  @include make-md-column(12);
  height: 10px;
  background: $black;
  margin: 10px 0;
}

@media #{$md-only} {
  .title-container,
  .walks-container,
  .history-container,
  .purchase-container,
  .footer-container,
  .richland-container {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
  }

}

@media #{$sm-only} {
  .title-container,
  .walks-container,
  .history-container,
  .purchase-container,
  .footer-container,
  .richland-container {
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
  }

}