.navbar-container,
.body-container,
.faq-body-container{
  @include container-fixed();
}
.body-container,
.faq-body-container{
  margin-top: 50px;
}

.faq-body-container{
  position:relative;
  height: 90vh;
}


.section-row {
  @include make-row();
}

.title-container,
.walks-container,
.history-container,
.purchase-container,
.footer-container,
.faq-footer-container,
.richland-container,
.intro-container {
  @include make-md-column(10);
  @include make-md-column-offset(1);
}

.faq-footer-container{
  position: absolute;
  bottom: 0;
}

.description-container {
  @include make-md-column(12);
}

.footer-small-container {
  @include make-md-column(6);
}

.footer-list {
  &.left{
    text-align: left;
  }
  &.right{
    text-align: right;
  }
}

.section-divider {
  @include make-md-column(2);
  @include make-md-column-offset(5);
  @include make-sm-column(2);
  @include make-sm-column-offset(5);
  @include make-xs-column(2);
  @include make-xs-column-offset(5);
  height: 2px;
  background: $black;
  // margin: 5px 0;
}

.footer-divider {
  @include make-md-column(12);
  height: 10px;
  background: $black;
  margin: 10px 0;
}

@media #{$md-only} {
  .title-container,
  .walks-container,
  .history-container,
  .purchase-container,
  .footer-container,
  .faq-footer-container,
  .intro-container {
    @include make-sm-column(12);
  }

  .richland-container,
  .faq-container {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
  }

  .footer-small-container {
    @include make-sm-column(6);
  }

  .footer-list {
    &.left{
      text-align: left;
    }
    &.right{
      text-align: right;
    }
  }
  .faq-body-container{
    position:relative;
    height: 90vh;
  }
  .faq-footer-container{
    position: absolute;
    bottom: 0;
  }

}

@media #{$sm-only} {
  .title-container,
  .walks-container,
  .history-container,
  .purchase-container,
  .footer-container,
  .faq-footer-container,
  .intro-container {
    @include make-xs-column(12);
  }

  .richland-container,
  .faq-container {
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
  }


  .footer-small-container {
    @include make-xs-column(12);
    background:orange;
  }

  .footer-list {
    &.left{
      text-align: center;
    }
    &.right{
      text-align: center;
    }
  }

  .faq-body-container{
    position:relative;
    height: 90vh;
  }
  .faq-footer-container{
    position: absolute;
    bottom: 0;
  }

}