body{
  font-family: $futura;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

a {
  @include link-transition(750ms);
  color: $black;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: opacity(0.5);
  }
  &:visited {
    color: $black;
  }
}

p {
  text-align: justify;
}

.page-title,
.page-subtitle{
  text-transform: uppercase;
}
.page-title{
  color: $black;
  font-size: 12vw;
}

.page-subtitle{
  color: $red;
  font-size: 8vw;

}

