body{
  font-family: $futura;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  font-size: 18px;
}

a {
  @include link-transition(750ms);
  color: $black;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: $charcoal;
  }
  &:visited {
    color: $black;
  }
}

p {
  text-align: justify;
}

.main-title,
.main-subtitle,
.section-title {
  text-align: center;
}

.main-title{
  font-size: 10vw;
  text-transform: uppercase;
}

.main-subtitle {
  font-size: 7.5vw;
  text-transform: capitalize;
  color: $red;
}

.section-title {
  font-size: 3.5vw;
  text-transform: capitalize;
  color: $charcoal;
}

.walk-list,
.history-list,
.buy-list,
.footer-list {
  list-style-type: none;
}

.history-item,
.buy-item,
.link-item {
  display: inline;
  margin: 0 2%;
}

.walk-title {
  text-transform: capitalize;
}


@media #{$md-only} {
  .main-title{
    font-size: 12vw;
  }

  .main-subtitle {
    font-size: 10.5vw;
  }

  .section-title {
    font-size: 5.5vw;
  }


}

@media #{$sm-only} {

  .main-title{
    font-size: 15vw;
  }

  .main-subtitle {
    font-size: 12.5vw;
  }

  .section-title {
    font-size: 8.5vw;
  }

}

