//structure
$sm-only: "(min-width: 0px) and (max-width: 767px)";
$md-only: "(min-width: 768px) and (max-width: 1023px)";
$lg-only: "(min-width: 1024px)";

//type
$futura: Futura, 'Trebuchet MS', Arial, sans-serif;

//color:
$white: #fff;
$black: #141414;