.section-divider {
  @include make-md-column(2);
  @include make-md-column-offset(5);
  @include make-sm-column(2);
  @include make-sm-column-offset(5);
  @include make-xs-column(2);
  @include make-xs-column-offset(5);
  height: 2px;
  background: $black;
}

.footer-divider {
  @include make-md-column(12);
  height: 10px;
  background: $black;
  margin: 10px 0;
}

.description-container {
  @include make-md-column(8);
  @include make-md-column-offset(2);
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
}

.walks-list-container,
.purchase-container {
  @include make-md-column(8);
  @include make-md-column-offset(2);
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  @include make-xs-column(10);
  @include make-xs-column-offset(1);
}

.history-list-container {
  @include make-md-column(3);
  @include make-md-column-offset(1);
}

.purchase-list-container {
  @include make-md-column(3);
}

.purchase-link {
  height: 150px;
  width: 150px;
  display: block;
  margin: 2% auto;
  line-height: 150px;
  // vertical-align: middle;
  text-align: center;
  border: 2px solid $charcoal;
  .purchase-title {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

@media #{$md-only} {
  .purchase-list-container {
    @include make-sm-column(6);
  }

  .history-list-container {
    @include make-sm-column(10);
    @include make-sm-column-offset(1);
  }

  .section-divider {
    @include make-sm-column(2);
    @include make-sm-column-offset(5);
    height: 2px;
    background: $black;
  }

  .purchase-link {
    height: 150px;
    width: 150px;
    display: block;
    margin: 5% auto;
    line-height: 150px;
    text-align: center;
    border: 2px solid $charcoal;
    .purchase-title {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }

}

@media #{$sm-only} {
  .purchase-list-container {
    @include make-xs-column(12);
  }

  .history-list-container {
    @include make-xs-column(10);
    @include make-xs-column-offset(1);
  }

  .section-divider {
    @include make-xs-column(2);
    @include make-xs-column-offset(5);
    height: 2px;
    background: $black;
  }

  .purchase-link {
    height: 150px;
    width: 150px;
    display: block;
    margin: 5% auto;
    line-height: 150px;
    text-align: center;
    border: 2px solid $charcoal;
    .purchase-title {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }


}